/*===================*/
/*    BASIC SETUP    */
/*===================*/
 

:root {--main-color: #074b1f;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #fff;
    color: var(--main-color);
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*------HEADINGS-------------*/

h1 {
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    word-spacing: 6px;
    letter-spacing: 2px;
}

 
/*===========================*/
/*       IMAGE GALLERY       */
/*===========================*/


.header {
    grid-column: 1/-1;
    text-align: center;
    
}
.gallery-wrapper {
    margin: 60px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

.foto-box {
    width: 100%;
    margin: 0;
    overflow: hidden; /* Stops scaled image from becoming larger than its container. */
    background: #000;
}

.foto-box img {
    width: 100%;
    height: auto;
    opacity: 0.7;
    transform: scale(1.2);
    transition: transform 0.5s, opacity 0.5s;
}

.foto-box img:hover {
    transform: scale(1.07);
    opacity: 1.0;
}
